html {
  touch-action: manipulation;
}
.container {
    background: #f1eaea;
  }
  a, .menu {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
  }
  .icon {
    position: absolute;
  }
  .pedals1, .pedals2 {
    fill: none;
    stroke:#000;
    stroke-width: 1.5px;
    outline: 1px double black;
  }
  .pedals1 {
    transform: rotate(45deg);
  }
  .circle {
    fill: none;
    stroke:#000;
    stroke-width: 0.8px;
  }
  body {
    margin:0;
    padding:0;
    background: #ebebeb;
  }
  .search-box {
    display: flex;
    height: 10vh;
    justify-content: flex-end;
    align-items: start;
  }
  .search-container{
    height: 25px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
  }
  .search-btn {
    color: black;
  }
  .search-container:hover > .search-input{
      width: 260px;
      background-color: white;
      border-radius: 30px;
      height: 30px;
  }
  .search-container .search-input{
      background: transparent;
      border: none;
      outline:none;
      width: 0px;
      font-weight: 500;
      font-size: 16px;
      transition: 0.5s;
  }
  .social-icon {
    position:absolute;
    top:10%;
    left:15%;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    display:flex;
    font-size: 25px;
  }
  .facebook {
    display:block;
    color:#404040;
    margin: 0 15px;
    position:relative;
  }
  .twitter {
    display:block;
    color:#404040;
    margin: 0 15px;
    position:relative;
  }
  .instagram {
    display:block;
    color:#404040;
    margin: 0 15px;
    position:relative;
  }
  .twitter:hover {
    color: #1da1f2;
  }
  .instagram:hover {
    color: #c32aa3;
  }
  .facebook:hover {
    color: blue;
  }
  .pd-wrap {
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  .header_first {
    display: flex;
    padding-top: 0.5rem;
    width: 100%;
    height: 130px;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-bottom: 0.5px solid #ebebeb;
    list-style-type: none;
  }
  .header_first img {
    height: 100%;
    width: 150px;
    margin-left: 450px;
  }
  div.header_menu {
    height: 76px;
    top: 0px;
    background-color: #fff;
    color:#000;
  }
  .menu li {
    position: relative;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 550;
    margin-left: 4rem;
    font-size: 0.9rem;
    word-spacing: 0.2rem;
    text-transform: uppercase;
    padding-top: 12px;
  }
  a.sale {
    color:#e74040;
  }
  .menu {
    margin: 0;
    padding: 0;
    position: relative;
    height: 74px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.36);
  }
  .heading-section {
    text-align: center;
    margin-bottom: 20px;
  }
  .delivery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  input {
    margin-left: 15px;
    width: 250px;
    height: 25px;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: Open Sans;
  }
  select {
    margin-left: 15px;
    width: 260px;
    height: 35px;
  }
  #text {
    margin-left: 15px;
    font-size: 18px;
    font-family: Open Sans;
  }
  .pay {
    height: 25px;
    width: 95%;
    margin-top: 60px;
    margin-left: 12px;
    background-color: #d9d9d9;
    border-radius: 5px;
    border-style: none;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-family: Montserrat;
    font-size: 18px;
  }
  section.cart-container{
    width: 90%;
    height: 65%;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
   }
   .cart-heading{
    margin: 15px;
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .cart-heading1{
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 600;
    color: #2F3841;
   }
   .cart-Items{
    margin: 20px;
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .about{
    margin-top: -33px;
    height: 60%;
   }
   .title{
    padding-top: 3px;
    line-height: 10px;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 550;
    color: #202020;
   }
   .subtitle{
    line-height: 10px;
    font-size: 15px;
    font-family: Open Sans;
    font-weight: 400;
    color: #2F3841;
   }
   .counter{
    width: 25%;
    display: flex;
    justify-content: space-between;
    gap: 7px;
    align-items: flex-end;
   }
   .btn-minus{
    width: 33px;
    height: 25px;
    border-radius: 0 5px 5px 0;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 700;
    color: #202020;
    cursor: pointer;
   }
   .btn-plus{
    width: 33px;
    height: 25px;
    border-radius: 5px 0 0 5px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 700;
    color: #202020;
    cursor: pointer;
   }
   .count{
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 600;
    color: #202020;
   }
   .prices{
    margin-top: -3px;
    height: 70%;
    text-align: right;
   }
   .amount{
    padding-top: 8px;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 800;
    color: #202020;
   }
   h5.remove-all {
    margin-top: 20px;
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 500;
    color: #eb4646;
    cursor: pointer;
   }
   .remove {
    margin-top: -20px;
    margin-right: -60px;
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 500;
    color: #f84242;
    cursor: pointer;
   }
   hr{
    width: 99%;
    float: right;
    margin-right: 0%;
   }
   .checkout{
    float: right;
    margin-right: 8%;
    width: 42%;
   }
   .total{
    width: 100%;
    display: flex;
    justify-content: space-between;
   }
   .Subtotal{
    font-size: 17px;
    font-family: Open Sans;
    font-weight: 600;
    color: #202020;
    margin-bottom: 4px;
   }
   div.items{
    font-size: 15px;
    font-family: Open Sans;
    font-weight: 500;
    color: #909090;
    line-height: 10px;
   }
   .total-amount{
    padding-top: 5px;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 600;
    color: #202020;
   }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60vh;
    width: 96%;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 25px;
    margin: 0px;
  }
  .footer ul {
    margin-top: 80px;
  }
  .footer b {
    font-size: 18px;
    line-height: 45px;
    color:#000;
  }
  .footer ul,
  li {
    color:rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    list-style-type: none;
  }
  .footer address {
    padding-top: 35px;
    color: rgba(0, 0, 0, 0.8);
  }
  .footer img {
    display: block;
    width: 60%;
    margin-left: 95px;
  }
  .mark {
    display:list-item;
    margin-top: 90px;
  }
